.tree {
  position: absolute;
  z-index: 8;
  width: 130px;
  height: 500px;
  cursor: pointer;
  .details {
    transition: all .33s ease-in-out;
    background-color: antiquewhite;
    padding: 10px 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    transform: translate(-25%, 30px);
    flex-wrap: wrap;
    &.on {
      opacity: 1;
      display: flex;
    }
    &.off {
      opacity: 0;
      display: hidden;
    }
  }
}
.treeLeaves {
  height:150px;
  width:150px;
  background-color:#29a329;
  border-radius:100%;
}
.trunk {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 200px 10px;
  border-color: transparent transparent #a36629 transparent;
  margin-top:50px;
  margin-left:65px;
  padding-top: 80px;
}
.leftBranch {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 60px 2px;
  border-color: transparent transparent #a36629 transparent;
  transform:rotate(-50deg);
  position:absolute;
  margin-top:12.5px;
  margin-left:-25px;
}
